.about {
    padding-top: 100px;
    background: $background-color;
    &__border {
        display: inline-block;
        margin-bottom: 100px;
        border: 3px solid #C4C4C4;
    }
    &__wrapper {
        padding: 60px 187px;
    }
    &__title {
        text-align: center;
    }
    &__divider {
        margin: 40px auto;
    }
    &__descr {
        margin: 40px auto 0 auto;
        text-align: center;
    }
    &__photo {
        display: block;
        margin: 50px auto 0 auto;
    }
}