@media (min-width: 1201px) {
    .collection {
        &__btn-767 {
            display: none;
        }
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            padding: 60px 100px;
        }
    }
    .collection {
        &__wrapper {
            grid-template-columns: 430px 430px;
            column-gap: 100px;
        }
        &__table {
            grid-template-columns: 430px;
        }
        &__table-item {
            ::before {
                width: 430px;
            }
        }
        &__image {
            grid-template-columns: repeat(2,195px);
            gap: 20px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__img {
            grid-column: 1/3;
        }
        &__btn-767 {
            display: none;
        }
    }
    .contacts {
        overflow: hidden;
        &__border {
            width: 960px;
        }
        &__photo-left {
            width: 230px;
            height: 230px;
            margin-left: unset;
            transform: translateY(-57%) translateX(-8%);
        }
        &__photo-right {
            width: 230px;
            height: 170px;
            transform: translateY(-70%) translateX(-2%);
        }
        &__wrapper {
            grid-template-columns: 555px;
            padding: 0 200px;
        }
        &__btn {
            width: 555px;
            margin: 50px 200px 80px 200px;
        }
    }
    .footer {
        &__item {
            width: 960px;
        }
        &__item-start {
            padding-left: 15px;
        }
        &__item-end {
            padding-right: 29px;
        }
        &__border {
            width: 960px;
        }
        &__place-start {
            padding-left: 45px;
            padding-right: 30px;
        }
    }
}


@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fs36 {
            font-size: 35px;
        }
        &_fs18-black {
            font-size: 17px;
        }
    }
    .descr {
        &_fs14-black {
            font-size: 13px;
        }
    }
    .promo {
        &__buttons {
            padding: 740px 0 130px 0;
        }
    }
    .about {
        &__divider {
            margin: 35px auto;
        }
    }
    .collection {
        &__wrapper {
            grid-template-columns: 370px 300px;
            column-gap: 50px;
        }
        &__table {
            grid-template-columns: 370px;
            :after {
                left: 63px;
            }
        }
        &__table-item {
            grid-template-columns: 55px 290px;
            column-gap: 25px;
            ::before {
                width: 370px;
            }
        }
        &__btn {
            width: 240px;
        }
        &__btn-767 {
            display: none;
        }
        &__image {
            grid-template-columns: 300px;
            grid-template-rows: repeat(3, 240px);
            gap: 0;
            row-gap: 20px;
        }
        &__img {
            grid-column: 1/2;
        }
        &__img-right {
            grid-row: 3/4;
            grid-column: unset;
        }
        &__img-left {
            grid-row: 2/3;
            grid-column: unset;
        }
    }
    .contacts {
        &__border {
            width: 720px;
        }
        &__heading {
            width: 425px;
        }
        &__title {
            font-size: 30px;
        }
        &__photo-left {
            width: 215px;
            height: 215px;
            transform: translateY(-55%) translateX(-12%);
            margin-left: unset;
        }
        &__photo-right {
            width: 215px;
            height: 155px;
        }
        &__wrapper {
            grid-template-columns: 500px;
            padding: 0 110px;
        }
        &__descr {
            font-size: 15px;
        }
        &__form {
            grid-template-columns: repeat(2,235px);
        }
        &__btn {
            width: 500px;
            margin: 50px 104px 80px 110px;
        }
    }
    .footer {
        &__item {
            width: 720px;
        }
        &__item-start {
            padding-left: 10px;
        }
        &__item-end {
            padding-right: 25px;
        }
        &__link {
            font-size: 11px;
            line-height: 22px;
        }
        &__border {
            width: 720px;
            font-size: 10px;
            line-height: 23px;
            padding-top: 18px;
            padding-bottom: 11px;
        }
        &__place-start {
            padding-left: 30px;
        }
    }
}


@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fs36 {
            font-size: 32px;
            line-height: 40px;
        }
        &_fs18-black {
            font-size: 20px;
        }
    }
    .descr {
        line-height: 23px;
        font-size: 15px;
    }

    .promo {
        &__btn {
            font-size: 15px;
            width: 190px;
            height: 45px;
        }
        &__adr, &__phone, &__link {
            font-size: 12px;
        }
    }
    .about {
        padding-top: 80px;
        &__border {
            margin-bottom: 80px;
        }
        &__wrapper {
            padding: 40px 70px;
        }
        &__photo {
            margin: 40px auto 0 auto;
            width: 140px;
            height: 140px;
        }
    }
    .collection {
        padding-top: 60px;
        &__border {
            margin-bottom: 60px;
        }
        &__wrapper {
            grid-template-columns: 540px;
        }
        &__table {
            grid-template-columns: 540px;
            ::after {
                left: 103px;
            }
        }
        &__table-item {
            grid-template-columns: 100px 400px;
            column-gap: 40px;
            ::before {
                width: 540px;
            }
        }
        &__btn {
            display: none;
        }
        &__btn-767 {
            display: block;
            width: 540px;
        }
        &__image {
            margin: 30px 0;
            grid-template-columns: repeat(2, 260px);
            grid-template-rows: repeat(2, 240px);
            gap: 20px;
        }
        &__img {
            grid-column: 1/3;
        }
        &__img-right {
            grid-row: 2/3;
            grid-column: 2/3;
        }
        &__img-left {
            grid-row: 2/3;
            grid-column: 1/2;
        }
    }
    .contacts {
        padding-top: 80px;
        &__border {
            width: 540px;
            border: 2px solid #c4c4c4;
        }
        &__heading {
            width: 330px;
            padding: 10px 30px;
        }
        &__title {
            font-size: 25px;
        }
        &__photo-left {
            width: 150px;
            height: 150px;
            transform: translateY(-65%) translateX(-13%);
        }
        &__photo-right {
            width: 170px;
            height: 100px;
            transform: translateY(-90%) translateX(-3%);
        }
        &__wrapper {
            grid-template-columns: 400px;
            padding: 0 70px;
            row-gap: 60px;
        }
        &__descr {
            line-height: 22px;
            font-size: 12px;
        }
        &__form {
            grid-template-columns: repeat(2,190px);
        }
        &__input {
            input {
                font-size: 10px;
            }
        }
        &__textarea {
            textarea {
                font-size: 10px;
            }
        }
        &__btn {
            width: 400px;
            margin: 50px 64px 80px 70px;
            font-size: 14px;
        }
    }
    .footer {
        padding: 40px 0;
        &__menu {
            flex-wrap: wrap;
            :nth-child(5) {
                border-bottom: unset;
            }
            :nth-child(6) {
                border-bottom: unset;
            }
            :nth-child(7) {
                border-bottom: unset;
            }
        }
        &__item {
            flex-basis: 135px;
            border-top: unset;
        }
        &__link {
            font-size: 13px;
        }
        &__contacts {
            flex-wrap: wrap;
            margin-top: 20px;
        }
        &__border {
            flex-basis: 270px;
            font-size: 12px;
        }
        &__place-start {
            border-left: 1px solid #fff;
            border-top: 1px solid #fff;
        }
        &__phone {
            border-top: 1px solid #fff;
        }
        &__social {
            border-left: 1px solid #fff;
        }
        &__website {
            border-right: 1px solid #fff;
        }
    }
}


@media (max-width: 575px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
    .title {
        &_fs36 {
            font-size: 23px;
            line-height: 32px;
        }
        &_fs36-black {
            font-size: 32px;
            line-height: 40px;
        }
        &_fs18-black {
            font-size: 13px;
        }
        &_fs16 {
            font-size: 14px;
            line-height: 15px;
        }
    }
    .descr {
        line-height: 20px;
        font-size: 13px;
    }
    .promo {
        &__adr, &__phone, &__link {
            font-size: 10px;
        }
        &__btn {
            font-size: 12px;
            line-height: 15px;
            width: 150px;
            height: 40px;
        }
        &__btn_right {
            margin-left: 0;
            margin-top: 10px;
        }
        &__buttons {
            padding: 500px 0 100px 0;
        }
    }
    .about {
        &__wrapper {
            padding: 20px 38px;
        }
        &__divider {
            margin: 25px auto;
        }
        &__descr {
            margin: 0;
        }
        &__photo {
            margin: 25px auto 0 auto;
            width: 110px;
            height: 110px;
        }
    }
    .collection {
        &__wrapper {
            grid-template-columns: 100%;
        }
        &__info {
            row-gap: 20px;
        }
        &__table {
            grid-template-columns: 290px;
            justify-content: center;
            ::after {
                left: 55px;
            }
        }
        &__table-item {
            grid-template-columns: 50px 220px;
            column-gap: 20px;
            grid-template-rows: 27px 27px;
            row-gap: 3px;
            ::before {
                width: 290px;
            }
        }
        &__table-title {
            line-height: 30px;
        }
        &__table-old {
            font-size: 13px;
        }
        &__table-descr {
            line-height: 13px;
        }
        &__image {
            grid-template-columns: repeat(2, 140px);
            gap: 10px;
            justify-content: center;
        }
        &__btn-767 {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            width: 290px;
            font-size: 14px;
        }
    }
    .contacts {
        padding-top: 60px;
        &__border {
            width: unset;
            border: 1px solid #c4c4c4;
            margin-bottom: 60px;
        }
        &__heading {
            width: 195px;
            padding: 5px 15px;
            margin-top: -25px;
        }
        &__divider {
            margin: 20px auto auto auto;
        }
        &__title {
            font-size: 15px;

        }
        &__photo-left {
            width: 90px;
            height: 90px;
            transform: translateY(-69%) translateX(-13%);
        }
        &__photo-right {
            width: 90px;
            height: 90px;
            transform: translateY(-89%) translateX(-38%);
        }
        &__wrapper {
            grid-template-columns: 100%;
            grid-template-rows: 75px 140px;
            padding: 0 20px;
            row-gap: 40px;
        }
        &__descr {
            line-height: 18px;
            font-size: 12px;
        }
        &__form {
            grid-template-columns: 100%;
            grid-template-rows: repeat(3, 30px);
            row-gap: 25px;
        }
        &__input {
            input {
                font-size: 8px;
            }
        }
        &__textarea {
            grid-column: unset;
            width: 100%;
            textarea {
                font-size: 8px;
                line-height: 25px;
            }
        }
        &__btn {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            width: 250px;
            margin: 30px 0 40px 0;
            font-size: 13px;
            height: 40px;
        }
    }
    .footer {
        padding: 30px 0;
        &__menu {
            :nth-child(5) {
                border-bottom: 1px solid #fff;;
            }
            :nth-child(6) {
                border-bottom: 1px solid #fff;;
            }
            :nth-child(7) {
                border-bottom: 1px solid #fff;;
            }
        }
        &__item {
            flex-basis: 255px;
        }
        &__item-start {
            padding-left: 0px;
        }
        &__item-end {
            padding-right: 0px;
        }
        &__contacts {
            margin-top: 35px;
        }
        &__border {
            padding-top: 16px;
            padding-bottom: 14px;
        }
        &__place-start {
            border-bottom: unset;
        }
        &__phone {
            border-left: 1px solid #fff;
        }
        &__website {
            border-left: 1px solid #fff;
        }
    }
}

