.title {
    font-family: Playfair Display;
    font-size: 36px;
    line-height: 150%;
    color: #FFFFFF;
    &_fs16 {
        font-family: Montserrat;
        font-size: 16px;
        color: #000000;
    }
    &_fs18-black {
        font-size: 18px;
        color: $text-color;
    }
    &_fs36-black{
        color: $text-color;
    } 
    &_fs36 {
        font-family: Playfair Display;
        font-size: 36px;
        line-height: 150%;
        color: #FFFFFF;
    }
}